<!-- form for bud edit -->
<tr>
	<!-- inline divs for compact display -->
		<%= form_for [bud, circuit], html: { class: "form-inline" } do |f| %>
  			<%= render 'shared/error_messages', object: circuit %>
    		<td><%= f.text_field :name %></td>
    		<td>
    			<h5><small> 	
				<% if circuit.channel > 31 then %>
					<%= (circuit.channel-32)/4 %>.<%= circuit.channel%4 %>
				<% else %>
					<%= (circuit.channel-4)/4 %>.<%= (circuit.channel-4)%4 %>
				<% end %>
				</small></h5>
				<!-- <%= "ch #{circuit.channel}" %> -->
			</td>
    		<td><%= f.check_box :active %></td>
    		<!-- Hidden submit button to work with IE6 -->
    		<%= f.submit "submit", style: "position: absolute; left: -9999px; width: 1px; height: 1px;" %>
		<% end %>
	<td>
		<%= button_to "X", bud_circuit_path(bud, circuit), method: :delete, class: :destroy, class: "btn btn-mini",
       data: { confirm: "Are you sure?" } %>
	</td>
</tr>