<!-- form for bud edit -->
<section>
	<!-- inline divs for compact display -->
	<div class="inline">
		<%= form_for [bud, circuit] do |f| %>
  			<%= render 'shared/error_messages', object: circuit %>
    		<%= f.text_field :name %>

    		<!-- Hidden submit button to work with IE6 -->
    		<%= f.submit "submit", style: "position: absolute; left: -9999px; width: 1px; height: 1px;" %>
		<% end %>
	</div>

	<div class="inline">
		<b><%= circuit.location %></b>
	</div>

	<div class="inline">
		<%= button_to "X", bud_circuit_path(bud, circuit), method: :delete, class: :destroy, class: "btn",
			data: { confirm: "Are you sure?" } %>
	</div>
</section>