<% provide(:title, @user.name) %>

<div class ="row-fluid">
	<aside class="span2">
		<section>
			<%= render 'shared/user_info', object: @user %>
		</section>
		<section>
			<%= render 'shared/user_stats' %>
		</section>
		<section>
			<%= render 'follow_form' if signed_in? %>
		</section>
		<section>
			<% if @user.microalerts.any? %>
				<h3> Alerts (<%= @user.microalerts.count %>)</h3>
				<ol class="microalerts">
					<%= render @microalerts %>
				</ol>
				<%= will_paginate @microalerts %>
			<% end %>
		</section>
	</aside>
	<div class="span10">

	</div>
</div>
