<li id="<%= feed_item.id %>">
	<% if feed_item.vocal.class.name == "User" %>
		<%= link_to gravatar_for(feed_item.vocal, size: 30), feed_item.vocal %>
	<% else %>
		<%= link_to avatar_for(feed_item.vocal, size: 30), feed_item.vocal %>
	<% end %> 
	<span class="user">
	<%= link_to feed_item.vocal.name, feed_item.vocal %>
	</span>
	<span class="content"><%= feed_item.content %></span>
	<span class="timestamp">
	<%= time_ago_in_words(feed_item.created_at) %> ago.
	</span>
	<%= render 'shared/delete_link', object: feed_item %>
</li>