<% provide(:title, 'Login') %>
<div class="center hero-unit">
	<%= link_to image_tag("VerdigrisFinal-complex.png", width: '25%', alt: "Verdigris Technologies"), 'http://verdigristech.com/'%><br>
	<%= link_to image_tag("energyai_logo.png", width: '30%', alt: "Energy.AI"), root_path %><br>
<%= link_to "Login with Google Account", '#', class: "btn btn-large btn-primary" %>
</div>
<%= link_to "Terms", terms_path, class: "pull-right" %>
<%= link_to "Blog", blog_path, class: "pull-right" %>
<%= link_to "Help", help_path, class: "pull-right" %>
<%= link_to "About Verdigris", aboutus_path, class: "pull-right" %>
<%= link_to "Sign Up", '#', class: "btn btn-large btn-primary" %>

