<script type="text/javascript" src="jquery-draggable-droppable.custom.min.js">
</script>
<script type="text/javascript" src="relax.js"></script>

<!-- Dev manager js -->
<script type="text/javascript">
$(function() {
  $("ul.menu") .relax({
    "animate" : "fast",
    "activate-links" : false, // or "deactivate-links" : true
    "openondrag" : true,
    ondrop: function(dropped, into, contained) {
    }, // or null
    opacity: 0.7
  });
});
</script>

<div class="row-fluid">
	<aside class="span2">
	<section>
	</section>
	<section>
		<h3>Alert Feed</h3>
		<span>
			<%= pluralize(current_user.feed.count, "alert") %>
		</span>
		<%= render 'shared/feed' %>
	</section>
	</aside>
  
	<div class="span10">
		<section>
			<%= render 'shared/stats' %>
		</section>

		<h3>Information</h3>

    <br><h3>Buds Hierarchy</h3>
		<div id="accordion">
      <ul class="menu">
        <% for b in Bud.find(:all) %>
          <li>
            <a class="m1" href="#"><%= b.name %></a>
            <ul>
              <% if b.circuits.any? %>
                <% for c in b.circuits %>
                  <li><a class="m1" href="#"><%= c.name %></a></li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>

	</div>
</div>