<table class="table table-hover">
  <thead>
    <tr>
      <th><%= Bud.human_attribute_name(:name) %> <h5><small>panel label</small></h5></th>
      <th><%= Bud.human_attribute_name(:uid).upcase %></th>
      <th><%= 'Heart Beat' %></th>
      <th><%= Bud.human_attribute_name(:active) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
		<%= f.fields_for :buds do |builder| %>
			<%= render 'buds/budconnect_fields', f: builder %>
    <% end %>
    <tr>
    	<td>
    			<%= f.submit "Save Buds", class: "btn btn-primary" %>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
    </tr>
  </tbody>
</table>