<a href-"<%= user_path(object) %>">
	<%= bavatar_for object, size: 60%>
</a>
<h1>
	<%= object.name %>
</h1>
<span>
	<%= link_to "view building profile", object %>
</span>
<span>
	<%= object.address %>
</span>