<table class="table table-hover">
  <thead>
    <tr>
      <th><%= 'Managers' %> <h5><small>followed users</small></h5></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
  	<%- followed_class = User -%>
		<%= f.fields_for :relationships do |f| %>
			<% if f.object.followed_type == followed_class.name %>
				<tr>
					<td><a href="<%= user_path(f.object.followed) %>">
						<%= gravatar_for f.object.followed, size: 40%>
						<%= f.object.followed.name %></a></td>
					<td>
						<%= f.hidden_field :_destroy %>
	  				<%= link_to "Remove", '#', class: "btn btn-mini btn-danger disconnect_fields" %> 
	  			</td>
		  	</tr>
  		<% end %>
		<% end %>
		<tr>
			<td>
    		<%= f.submit "Save Users", class: "btn btn-primary" %>
			</td>
			<td></td>
		</tr>
	</tbody>
</table>