<% provide(:title, "Configure Building #{@building.name}") %>
<div class="row-fluid">
  <div class="span2">
    <%= avatar_for @building %>
    <a href="#" target="_new">change</a >

    <%= form_for(@building) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="span10">	
	<h2>Configure Building</h2>
	<hr>
	<h4>Buds</h4>
	<%= render partial: 'buds/bud', collection: @building.buds %>
    <hr>
    <h4>Managers</h4>
    <%= render partial: 'users/user', collection: @building.managers %>
  </div>
</div>