<tr>
	<td>
		<%= bud.name %>
	</td>
	<td>
		<%= link_to bud.uid, bud %>
	</td>
	<td>
		<%= time_ago_in_words(bud.updated_at) %> ago
	</td>
	<td>
		<%= link_to 'Edit', edit_bud_path(bud), class: "btn" if (signed_in? && bud.managers.include?(current_user)) %> 
		<%= link_to "Destroy", bud, method: :delete, class: "btn btn-mini btn-danger", data: { confirm: "Permanently destroy your Bud and associated history, are you sure?" } if (signed_in? && current_user.admin?) %>
	<td>
		<%= link_to bud.building.name, edit_building_path(bud.building) if !bud.building.nil?%> 
	</td>
</tr>
