<% provide(:title, @bud.name) %>

<h1>Bud Configuration</h1>

<div class="row">
    <div class="span6 offset3">
        <%= if signed_in? && current_user.admin?
            button_to "Remove Bud", @bud, method: :delete, class: :destroy, class: "btn btn-large btn-primary", data: { confirm: "Are you sure?" }
        end %>
        
      	<%= form_for(@bud) do |f| %>
        	<%= render 'shared/error_messages', object: @bud %>
            <%= f.label :uid %>
            <%= f.text_field :uid %>

        	Panel Label
        	<%= f.text_field :name %>

            Active?
            <%= f.check_box :active %>

        	<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      	<% end %>

        <h2>Circuit Labels</h2>
        <div id="leftcolumn">
          <h3>spi0:id</h3>
            <% if @bud.circuits.any? %>
                <% for c in @bud.circuits.where("side = ?", 0) do %>
                    <%= render 'circuits/circuit_form', bud: @bud, circuit: c %>
                <% end %>
            <% end %>
            <%= link_to "+", new_bud_circuit_path(@bud, c), class: "btn btn-large btn-primary" %>
        </div>

        <div id="rightcolumn">
          <h3>spi1:id</h3>
            <% if @bud.circuits.any? %>
                <% for c in @bud.circuits.where("side = ?", 1) do %>
                    <%= render 'circuits/circuit_form', bud: @bud, circuit: c %>
                <% end %>
            <% end %>
            <%= link_to "+", new_bud_circuit_path(@bud, c), class: "btn btn-large btn-primary" %>
        </div>
    </div>
</div>