<% provide(:title, "Configure Bud #{@bud.name}") %>
<div class="row-fluid">
    <aside class="span2">
        <section>
            <%= render 'buildings/building_info', object: @bud.building %>
        </section>
        <section>
            <%= link_to 'Edit', edit_building_path(@bud.building), class: "btn" if (signed_in? && @bud.managers.include?(current_user)) %> 
        </section>
    </aside>
    <div class="span7">
        <h2>Configure Bud <%= @bud.uid %></h2>
            <%= render 'budconfigure_label', bud: @bud %>
        <legend>Circuit Details</legend>
        <div class="row-fluid">
            <div id="leftcolumn" class="span6">
                <%= render 'budcircuit_formleft' %>
            </div>
            <div id="rightcolumn" class="span6">
                <%= render 'budcircuit_formright' %>
            </div>
        </div>
    </div>
    <div class="span3">
        <h3><%= @bud.building.name %> <small>connected buds<small></h3>
        <hr>
        <ul class="nav nav-pills nav-stacked">
        <% @bud.building.buds.each do |bud| %>
            <li <%= "class=active" if @bud == bud %>>
                <%= link_to "#{bud.name} #{bud.uid}", edit_bud_path(bud) %>
            </li>
        <% end %>
        </ul>
    </div>
</div>
