<% provide(:title, 'New Bud') %>

<h1>Track New Bud</h1>

<div class="row">
  	<div class="span6 offset3">
    	<%= form_for(@bud) do |f| %>
      		<%= render 'shared/error_messages', object: @bud %>
      		<%= f.label :uid %>
      		<%= f.text_field :uid %>

      		<%= f.label :hardware_v %>
      		<%= f.text_field :hardware_v %>

      		<%= f.label :firmware_v %>
      		<%= f.text_field :firmware_v %>

      		<%= f.submit "Activate New Bud", class: "btn btn-large btn-primary" %>
    	<% end %>
  	</div>
</div>